
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lock Security </title>
    <link rel="icon" href="../static/img/logo.svg">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
        
            <header>
                <menu>
                    <div class="logo">
                <img src="../static/img/logo.svg" alt="">
                <h1>Lock Security </h1>
                    </div>
                    <ul class="menu-list">
                        <li><a href="/">LogOut</a></li>
                    </ul>
                </menu>
            </header>
            
        
           <section>
            
            <div>
                
                <form action="otp_generate" method="post">
                    <h1>Password Generator</h1>
                    <input type="email" placeholder="Enter the Email" name="box1">
                    <button>generate</button><br>
                    <br><p>{{data}}</p>
                </form>
            </div>
           </section>








            <footer>
               <div class="main-list" >
                <ul class="list">
                    <li>category</li>
                    <li>Web Design</li>
                    <li>Graphical Design</li>
                    <li>Web developers</li>
                    <li>Python</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                  </ul>
                  <ul class="list">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Career</li>
                    <li>Blog</li>
                    <li>Resources</li>
                  </ul>
                  <ul class="list">
                    <li>Support</li>
                    <li>Support</li>
                    <li>Privacy</li>
                    <li>Terms of Service</li>
                  </ul>
               </div>

                  <p>Copyright &#169; gv_admin in 2024</p>
            </footer>

        
  
</body>
</html>
    

